#app-wrapper {
    position: absolute;
    top: 100px;
    left: 50%;
    margin-left: -550px;
    width: 1100px;
    height: 500px;
    border: 1px solid #666;
}

#app-wrapper h1 {
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
}

#app {
    height: 100%;
}

.day {
    width: 18%;
    height: 420px;
    margin-left: 10px;
    border: 1px solid #666;
    display: inline-block;
}

.day h2 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 24px;
}

.item {
    width: 90%;
    height: 20px;
    border: 1px solid #666;
    background-color: #eee;
    margin-bottom: 5px;
    margin-left: 5px;
    padding: 5px;
}

.item:hover {
    background-color: #ddd;
    border: 1px solid #444;
    cursor: pointer;
}

.item span {
    display: inline-block;
}

.item-name {
    width: 60%;
}

.item-count {
    width: 30px;
    border-radius: 5px;
    border: 1px solid #666;
    background-color: #fff;
    text-align: center;
}

.item-add {
    float: right;
    margin-right: 5px;
}

.new-eater {
    width: 500px;
    height: 140px;
    padding: 20px;
    background-color: aqua;
    border: 3px solid #000;
    position: fixed;
    top: 150px;
    left: 50%;
    margin-left: -250px;
}